.sectionIntro {
  padding: 4rem 1rem 10rem 1rem;
}

.intro {
  font-family: var(--mono);
  font-size: 1rem;
}

.name {
  font-size: 4rem;
  color: var(--aqua);
  font-weight: 300;
}

.job {
  font-size: 4rem;
}

.description {
  font-size: 1rem;
  line-height: 1.5;
}

@media screen and (min-width: 850px) {
  .sectionIntro {
    max-width: 1250px;
    margin: 0 auto;
  }
}
