.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
  text-align: center;
  font-family: var(--mono);
}

.myName {
  text-align: center;
  flex-basis: 100%;
}

.myNameIcon {
  color: var(--aqua);
}

.myNameIcon {
  margin-right: 1rem;
  font-size: 100%;
}

.myNameIcon:hover {
  color: var(--hotmag);
}

.anchor {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
}

.icon {
  font-size: 150%;
  color: var(--aqua);
}

.icon:hover {
  color: var(--hotmag);
}
.navBar {
  font-size: 80%;
  padding: 4rem 1rem;
}

.button {
  background-color: var(--magenta);
  color: var(--white);
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
}

.button:hover {
  color: var(--white);
  background-color: var(--hotmag);
}

@media screen and (min-width: 850px) {
  .navBar {
    max-width: 1250px;
    margin: 0 auto;
  }
  .myName {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
