.projectsMainHeader {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}

.projectName {
  color: var(--aqua);
}

.projectParagraph {
  padding: 1rem;
  background-color: black;
  font-size: 1rem;
  border-radius: 10px;
  line-height: 1.5;
}

.projectImage {
  padding: 1rem;
  margin: 2rem 0 4rem 0;

  border-top: solid 1px var(--aqua);
  border-left: solid 1px var(--aqua);
  border-radius: 25px;
}

.projectTechnologiesUsedHeading {
  font-size: 1rem;
  font-family: var(--mono);
}

.techList {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 850px) {
  .article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1rem;
  }

  .projectImage {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
  }

  .text {
    order: 2;
    text-align: right;
    grid-column: 5 / 11;
    grid-row: 1 / 2;
  }

  .techList {
    justify-content: flex-end;
  }
}
